playstream() {
    ffmpeg -i $1 -f wav - 2>/dev/null | aplay 2>/dev/null
}

whyfile() {
    package=$(rpm -qf $1 --qf "%{NAME}")
    ret=$?
    echo -e "\nPackage: $package\n"
    (( $ret == 0)) || return
    zypper if $package
    whypkg $package
}

whycmd() {
    file=$(which $1)
    (($? == 0)) || return
    whyfile $file
}

whypkg() {
	 if zypper pa --orphaned | grep "| $1 " > /dev/null; then
	    echo "Package $1 is orphaned"
	    return 
	 fi
	 zypper se -i -x -v --requires --recommends --suggests $1
}

pkgchg() {
    rpm -q --changelog $1 | less
}

geni3conf() {
    confdir=~/.config/i3
    cat $confdir/config.common $confdir/$1 > $confdir/config
}

borgmount() {
    snapshot=$1
    mountpoint=~/mnt/borg
    [ -z "$snapshot" ] && snapshot=$(borg list | tail -1 | cut -f 1 -d ' ')
    borg mount $BORG_REPO::$snapshot $mountpoint && echo "mounted snapshot: $snapshot" && cd $mountpoint
}

borgumount() {
    cd ~	     
    borg umount ~/mnt/borg 	     
}
