# loaded by session managers: GDM, LightDM, LXDM, SDDM
# sourced by .xinitrc when using startx or xinit

urxvtd-256color -o -f -q

XHKDRCDIR=~/.config/sxhkd
cp $XHKDRCDIR/commonsxhkdrc $XHKDRCDIR/sxhkdrc
if [ "$1" = "i3" ]; then

     # not strictly needed but avoid starting dolphin under i3 resulting in failure to start /usr/lib64/libexec/kactivitymanagerd
     # with a non-fatal crash (SIGABRT) in journalctl
     # this command is started in /usr/bin/startkde
     
     dbus-update-activation-environment --systemd --all
else 
   cat $XHKDRCDIR/kdesxhkdrc >> $XHKDRCDIR/sxhkdrc
fi

sxhkd &




